.header {
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4em;
  padding: 0.6em 2em;
  border: 1px solid #486284;
}
.header h1 {
  font-weight: 600;
  font-size: 1.25em;
}
.header h1 a {
  color: var(--primary-text);
}
.header ul {
  display: flex;
  align-items: center;
  gap: 1em;
}
.header a {
  font-size: 0.95em;
}
