.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.upload form {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.upload input {
    margin-bottom: 5px;
}


.upload .inputGroup {
    display: flex;
    gap: 1rem;
}

.location {
    width: 75%;
}

.upload .location,
.upload .date {
    display: flex;
    flex-direction: column;
}

.btnGroup {
    display: flex;
    justify-content: center;
    gap: 2rem;
}



.upload h2 {
    margin-block: 30px;
}



.colRight {
    width: 100%;
}