.account h2 {
  font-size: 2em;
}
.container {
  display: grid;
  gap: 1em;
  margin-top: 1.4em;
  width: 600px;
  max-width: 90vw;
}
.imageContainer {
  height: 120px;
  width: 680px;
  overflow: hidden;
}
.btnContainer {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
.emphasis {
  font-style: italic;
}
