:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
    'Droid Sans Mono', 'Courier New', monospace;

  --fg-hsl: 0, 0%, 98%;
  --bg-hsl: 212, 32%, 8%;
}

@media (prefers-color-scheme: dark) {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
} */

html,
body {
  max-width: var(--max-width);
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}