:root {
  --bg: #ced7e4;

  --primary-text: black; /* most text */
  --secondary-text: #464646; /* labels and secondary text */
  --tertiary-text: white; /* modals and bold button text */

  --primary-color: #486284; /* modals and bold buttons */
  --primary-color-hover: #6082ae;

  --secondary-color: #dee5ed; /* image placeholders */

  --tertiary-color: white; /* common buttons */
  --tertiary-color-hover: rgb(236, 236, 236);

  --warning: #ff6b6b;
  --warning-hover: #ff5252;

  --inputs: #efeff0;
  --header: var(--tertiary-color);
  --footer: #d3dce7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #324359;

    --primary-text: rgb(255, 255, 255);
    --secondary-text: #dfdfdf;
    --tertiary-text: black;

    --primary-color: #5b7aa4;
    --primary-color-hover: #4f698f;

    --secondary-color: #6f94c5;

    --tertiary-color: rgb(43, 43, 43);
    --tertiary-color-hover: rgb(66, 66, 66);

    --warning: #ff4f4f;
    --warning-hover: #ff5e5e;

    --inputs: #4e4e4e;
    --header: var(--tertiary-color);
    --footer: #394d69;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
} */

html,
body {
  max-width: var(--max-width);
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--bg);
  color: var(--primary-text);
}
h1,
h2 {
  font-weight: 600;
}
label {
  color: var(--secondary-text);
}
textarea,
input {
  background-color: var(--inputs);
  color: var(--primary-text);
  border-radius: 0.8em;
  padding: 0.75em 1em !important;
  border: none;
  font-family: inherit;
}
button {
  border-radius: 4px;
  padding: 0.4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  width: fit-content;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: underline;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
